<div class="row" id="footer">
    <div class="offset-sm-3 col-sm-6 text-center mt-5">
        <h3><u>Contact Us</u></h3>
        <div class="row">
            <div class="col-sm-6 text-center pt-4 mt-3">
                <div class="row mt-3">
                  
                   <span><i class="fa fa-phone"></i>&nbsp;7007985743</span> 
                </div>
                <div class="row mt-3">
                
                   <span><i class="fa fa-envelope"></i>&nbsp;manojkry1996@gmail.com</span> 
                </div>
            </div>

            <div class="col-sm-6 text-center py-4 my-2 px-5">
                <i class="fa fa-map-marker mt-3"></i>
                Delhi
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <a [href]="linkedin" target="_blank"><i class="fa fa-linkedin mt-3"></i></a>
                    </div>
                    <div class="col-sm-3"> <a [href]="github" target="_blank"><i class="fa fa-github mt-3"></i></a>
                    </div>
                    <div class="col-sm-3"> <a [href]="youtube" target="_blank"><i class="fa fa-youtube mt-3"></i></a>
                    </div>
                    <div class="col-sm-3"> <a [href]="facebook" target="_blank"><i class="fa fa-facebook mt-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
